
/**{
  border: 1px solid red;
}*/

#logIn_button {
  float: right;
  margin-left: 5vw
}

#LogIn_dropdown {
  padding: 15px;
  position: absolute;
}

#navBrand {
  color: yellowgreen;
}

#info_header {
  text-align: center;
  display: inline-block;
  float: none;
}

#index-left-column {
  background-color: #f8f8f8;
  height: 100%;
  text-align: center;
  margin-left: 1%;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 5px;

}

#index-body-column {
  background-color: #f8f8f8;
  margin-left: 1vw;
  text-align: center;
  margin-left: 3%;
  border-radius: 10px;
  padding-bottom: 19vw;
  box-shadow: 1.5px 1.5px 5px;
}
#navBar-container {
  text-align: center;
  text-shadow: 0.25px 0.25px;
}

#new-user-form {
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 1.5px 1.5px 5px;
  border-radius: 10px;
  padding-bottom: 15px;
}

#user-profile-column {
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 1.5px 1.5px 5px;
  border-radius: 10px;
  padding-bottom: 15px;
}

#edit-user-profile {
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 1.5px 1.5px 5px;
  border-radius: 10px;
  padding-bottom: 15px;
}

#filter-by-tag-column {
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 1.5px 1.5px 5px;
  border-radius: 10px;
  padding-bottom: 15px;
  margin-left: 1%;
}

#games-for-trade-column {
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 1.5px 1.5px 5px;
  border-radius: 10px;
  padding-bottom: 15px;
  margin-left: 3%;
}

.headerHighlight {
  background-color: yellowgreen;
  border-radius: 10px;
}

.footer {
  background-color: #f8f8f8;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:10vw;
  text-align: center;
  box-shadow: 1.5px 1.5px 5px;
}

/*.footer h5{
  display: inline-block;
}

.footer p{
  display: inline-block;
}

.footer li{
  display: inline-block;
}*/

#copyright {
  /*float: left;*/
}

.footer *{
  /*display: inline-block;*/
}
