<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>BazzR</title>
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">BazzR</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
<<<<<<< HEAD
        <li><a href="#">Trades</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
=======
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trades
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Want to Buy</a></li>
              <li><a href="#">Want to Sell</a></li>

            </ul>
        </li>
>>>>>>> c6ba035983ffa826d215aa893dc7a5e4ac8ea062
      </ul>
    </div>
  </nav>

    @RenderBody()

  </body>
</html>
