<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="~/css/site.css">
  <title>BazzR</title>
</head>
<body>

  <nav class="navbar navbar-default">
    <div id="navBar-container" class="container-fluid">
      <div class="navbar-header">
        <a id="navBrand" class="navbar-brand" href="/">BazzR</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trades
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/search/all">Look for Games</a></li>
              <li><a href="#">Trade a Game</a></li>
            </ul>
          </li>
        </ul>
        <p id="info_header" class="navbar-text"><em>Find, Offer, and Trade Games</em></p>
        <ul id="logIn_button" class="nav navbar-nav">
          <li  class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log In
              <span class="caret"></span></a>
              <form action="/user/profile" method="post">
              <ul id="LogIn_dropdown" class="dropdown-menu dropdown-menu-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username:" name="username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password:" name="user-password">
                </div>
                <button type="submit" class="btn btn-info" name="button">Log In</button>
              </form>
                <br>
                <br>
                <a href="/user/create">Create an Account</a>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" action="#" method="post">
            <div class="input-group">
              <input type="text" name="topnav-search" value="" placeholder="Search">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default" name="button"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </nav>

      @RenderBody()

    </body>
    <div id="footer" class="footer">

          <div class="col-md-6">
            <h5>CONTACT US</h5>
            <p>Don't actually though, we're not interested.</p>
          </div>

          <div class="col-md-6">
            <h5>LINKS</h5>

            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </div>

            <p id="copyright">© 2018 Copyright: Drew Tucker, Tyler Wickline, Nanette Girzi, Tim Firman, Eric Swotinsky, Josh Rochon</p>
      </ul>
    </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
