<ul id="logIn_button" class="nav navbar-nav">
  <li  class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log In
      <span class="caret"></span></a>
      <form action="/user/profile" method="post">
      <ul id="LogIn_dropdown" class="dropdown-menu dropdown-menu-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username:" name="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password:" name="user-password">
        </div>
        <button type="submit" class="btn btn-info" name="button">Log In</button>
      </form>
        <br>
        <br>
        <a href="/user/create">Create an Account</a>
      </ul>
    </li>
  </ul>
