@{
  Layout = "_Layout";
}

<div class="col-sm-3">

</div>

<div id="offer-form" class="col-sm-6">
  <h4 class="headerHighlight">Make an Offer for:</h4>
  <hr>
  <form action="#" method="post">

    <hr style="border-bottom: 1px solid yellowgreen;">
    <button type="submit" class="btn btn-info" name="button">Create</button>
  </form>
</div>

<div class="col-sm-3">

</div>
