@{
  Layout = "_Layout";
}

<div class="col-sm-3">

</div>

<div id="user-profile-column" class="col-sm-6">
  <h4 class="headerHighlight">Account Details</h4>
  @if (Model != null)
  {

  }
  <a href="/user/profile/edit/">Edit Profile</a>
</div>

<div class="col-sm-3">

</div>
