@{
  Layout = "_Layout";
}
<div id="filter-by-tag-column" class="col-sm-3">
  <h4 class="headerHighlight">Filter by Tag:</h4>

</div>


<div id="games-for-trade-column" class="col-sm-8">
  <h4 class="headerHighlight">Games up For Trade:</h4>
  
</div>
