@{
  Layout = "_Layout";
}
<div class="col-sm-3">

</div>


<div class="col-sm-6">
  <div class="columnStyling">
  <h4 class="headerHighlight">Put a Game up for Trade:</h4>
  @if(Model != null)
  {
    @else
    {
      <h5>You haven't added any games to your profile yet!</h5>

    }
  }
  <a href="/game/new">Add a Game to your Profile</a>
</div>
</div>
<div class="col-sm-3">

</div>
