@{
  Layout = "_Layout";
}
<div id="left-column" class="col-sm-3">
  <h4 class="headerHighlight"><strong>Top Users</strong></h4>
  <ol>
    <li>Jeff</li>
    <li>Steve</li>
    <li>Conrad</li>
  </ol>
  <hr style="border-bottom: 1px solid yellowgreen;">
  <h4 class="headerHighlight"><strong>Site Stats</strong></h4>
  <h5>Days up:</h5>
  <h5>Total Users:</h5>
  <h5>Current Users:</h5>
  <h5>Total Trades:</h5>
  <h5>Pending Trades:</h5>
</div>
<div id="body-column" class="col-sm-8">
  <h4 class="headerHighlight">Games Up For Trade</h4>
  <ul>
    <li>BattleToads</li>
    <li>My Little Pony</li>
  </ul>
</div>
